html, body, .bloco {
    height: 100%;
}

p {
    text-align: justify;
}

.navEffect {
    background-color: #000000;
    margin-bottom: 1px;
}

.effect:hover {
    background-color: #424242;
}

/* BLOCKQUOTE */

.blockquoteSuper {
    border-left: 5px solid #1e88e5;
}

.blockquoteBatman {
    border-left: 5px solid #000000;
}

.blockquoteFlash {
    border-left: 5px solid #b71c1c;
}

.blockquoteMaravilha {
    border-left: 5px solid #e53935;
}
nav .brand-logo {
    font-family: 'Sorts Mill Goudy', serif;
    
}


/* TABS */

.tabs .tab a {
    color: #757575;
}

a .active {
    color: #424242;
}

.tabs .indicator {
    background-color: #424242;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #424242;
  }

.tabs .tab a:focus, .tabs .tab a:focus.active, .tabs .tab a.active {
    background-color: #e0e0e0;
}

.tabs .tab a:focus.active {
    background-color: #e0e0e0;
    color: #424242;
}


.slider .indicators .indicator-item.active {
    background-color: #757575;
}

.centralizar{
    margin-left: 50px;;
}

.border-image {
    border: 1px solid #757575;
}

.carousel {
    height: 600px;
    padding: 0;
}

.carousel-item {
    padding-bottom: 450px; 
}

.galeria .carousel-item {
    width: 350px;
    height: 350px;
    padding-bottom: 600px;
}

.galeria {
    height: 750px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
}

.nav-wrapper {
    width: 100%;
}

.name {
    margin-left: 15px;
}

.livros {
    width: 100%;
}

.page-footer {
    background-repeat: no-repeat;
    background-image: url("https://uploaddeimagens.com.br/images/001/913/939/full/rodape.jpg?1550704262");
    background-size: 100%;
}

.card {
    position: relative;
    margin: 2rem 0 1rem 0;
}

.card .card-content {
    padding: 24px;
    padding-top: 1px;
}

/* 
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Crimson Text', serif;
*/